/* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,700,800);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #000;
}

a {
  color: #00ae6c;
  text-decoration: underline;
}

a:focus,
button:focus {
  outline-offset: 1px;
  outline: #005fcc auto 1px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--large {
  max-width: 1510px;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  margin-bottom: 120px;
}

.title-section {
  font-weight: 800;
  font-size: 42px;
  line-height: 1.2;
  color: #000;
}

.header {
  padding: 40px 0;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.header__logo {
  flex-shrink: 0;
}

.nav {
  font-size: 14px;
}

.nav__list {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.nav__link {
  color: #000;
  transition: color 0.2s ease-in;
}
.nav__link:hover {
  color: #00ae6c;
}

.btn-dark,
a.btn-dark {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 80px;
  background-color: #000000;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: background-color 0.2s ease-in;
}
.btn-dark:hover,
a.btn-dark:hover {
  background-color: #333;
}

.btn-green,
a.btn-green {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 80px;
  background-color: #00ae6c;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: background-color 0.2s ease-in;
}
.btn-green:hover,
a.btn-green:hover {
  background-color: #00d785;
}

.btn-outline,
a.btn-outline {
  display: inline-block;
  padding: 9px 20px;
  border-radius: 80px;
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.btn-outline:hover,
a.btn-outline:hover {
  color: #000;
  background-color: #fff;
}

.btn-price,
a.btn-price {
  display: inline-block;
  padding: 9px 20px;
  border-radius: 80px;
  border: 1px solid #000000;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.btn-price:hover,
a.btn-price:hover {
  color: #fff;
  background-color: #000000;
}

.btn-tg,
a.btn-tg {
  display: inline-flex;
  column-gap: 10px;
  padding: 10px 20px;
  border-radius: 80px;
  background-color: #039be5;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: background-color 0.2s ease-in;
}
.btn-tg:hover,
a.btn-tg:hover {
  background-color: #19b2ff;
}

.btn-whatsapp,
a.btn-whatsapp {
  display: inline-flex;
  column-gap: 10px;
  padding: 10px 20px;
  border-radius: 80px;
  background-color: #00ae6c;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: background-color 0.2s ease-in;
}
.btn-whatsapp:hover,
a.btn-whatsapp:hover {
  background-color: #00c97c;
}

.promo__wrapper {
  padding: 30px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #000;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("./../img/promo/promo-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .promo__wrapper {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("./../img/promo/promo-bg@2x.jpg");
  }
}

.promo__content {
  max-width: 678px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}

.promo__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
}

.promo__text {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.promo__btns {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.benefits__row {
  display: flex;
  column-gap: 30px;
}

.benefits__img {
  flex: 1;
}

.benefits__desc {
  flex: 1;
}

.benefits__img {
  text-align: center;
}

.benefits__title {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

.benefits__text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.5;
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.benefits__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.benefit {
  display: flex;
  column-gap: 30px;
  align-items: flex-start;
}

.benefit__img {
  flex-shrink: 0;
}

.benefit__desc {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: #2f2f2f;
  font-size: 14px;
  line-height: 1.5;
}

.benefit__title {
  color: #000;
  font-size: 24px;
  font-weight: 800;
  line-height: 1;
}

.locations__row {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  align-items: flex-start;
}

.locations__title {
  max-width: 430px;
}

.locations__controls {
  display: flex;
  column-gap: 20px;
}

.slider {
  overflow: hidden;
  display: flex;
  column-gap: 10px;
}

.slider__img {
  border-radius: 8px;
}

.services__title {
  max-width: 570px;
  margin-bottom: 40px;
}

.services__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.services__list-item {
  max-width: 270px;
}

.service {
  color: #2f2f2f;
  font-size: 14px;
  line-height: 1.5;
}

.service__icon {
  margin-bottom: 20px;
}

.service__title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  color: #000;
}

.price {
  padding: 60px 0 120px;
  background-color: #f6f6f6;
}

.price__title {
  margin-bottom: 40px;
}

.price__cards {
  display: flex;
  column-gap: 30px;
  align-items: stretch;
}
.price__cards > * {
  flex: 1;
}

.card {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.card__img {
  border-radius: 20px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);
  object-fit: cover;
  aspect-ratio: 37/18;
}

.card__body {
  flex-grow: 1;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
}

.card__title {
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}

.card__price {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 1.2;
  color: #00ae6c;
}

.card__list {
  margin-bottom: 25px;
  padding-left: 22px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  font-size: 14px;
  line-height: 1.2;
}

.card__list-item {
  list-style: disc;
}

.card__btn {
  margin-top: auto;
}

.cta__wrapper {
  padding: 30px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #000;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("./../img/cta/cta-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .cta__wrapper {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("./../img/cta/cta-bg@2x.jpg");
  }
}

.cta__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  text-align: center;
}

.cta__title {
  font-weight: 800;
  font-size: 42px;
  line-height: 1;
  color: #fff;
}

.cta__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.cta__btns {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.map__title {
  margin-bottom: 20px;
}

.map__desc {
  margin-bottom: 20px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.map__img {
  border-radius: 40px;
}

.faq__wrapper {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
}

.faq__title {
  width: 470px;
  flex-shrink: 0;
}

.faq__topics {
  width: 670px;
  flex-shrink: 0;
}

.topic {
  padding: 30px 0;
  border-top: 1px solid #ececf1;
  border-bottom: 1px solid #ececf1;
}

.topic + .topic {
  margin-top: -1px;
}

.topic__btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  align-items: center;
}

.topic__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  color: #000;
}

.topic__content {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  line-height: 1.5;
  display: none;
}

.topic__content--open {
  display: flex;
}

.footer {
  padding: 60px 0;
  background-color: #000;
  color: #fff;
}
.footer a {
  color: #fff;
}

.footer__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.nav-footer {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

a.nav-footer__link {
  transition: color 0.2s ease-in;
}

a.nav-footer__link:hover {
  color: #00ae6c;
}

.social-list {
  display: flex;
  column-gap: 40px;
  align-items: center;
}/*# sourceMappingURL=main.css.map */