.benefits {
}

.benefits__row {
  display: flex;
  column-gap: 30px;
}

.benefits__img {
  flex: 1;
}

.benefits__desc {
  flex: 1;
}

.benefits__img {
  text-align: center;
}

.benefits__title {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

.benefits__text {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.5;
  color: #2f2f2f;

  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.benefits__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.benefits__item {
}
