.btn-dark,
a.btn-dark {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 80px;
  background-color: #000000;
  font-size: 16px;
  font-weight: 700;
  color: #fff;

  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: #333;
  }
}

.btn-green,
a.btn-green {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 80px;
  background-color: #00ae6c;
  font-size: 16px;
  font-weight: 700;
  color: #fff;

  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: #00d785;
  }
}

.btn-outline,
a.btn-outline {
  display: inline-block;
  padding: 9px 20px;
  border-radius: 80px;
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 700;
  color: #fff;

  transition: background-color 0.2s ease-in, color 0.2s ease-in;

  &:hover {
    color: #000;
    background-color: #fff;
  }
}

.btn-price,
a.btn-price {
  display: inline-block;
  padding: 9px 20px;
  border-radius: 80px;
  border: 1px solid #000000;
  font-size: 16px;
  font-weight: 700;
  color: #000;

  transition: background-color 0.2s ease-in, color 0.2s ease-in;

  &:hover {
    color: #fff;
    background-color: #000000;
  }
}

.btn-tg,
a.btn-tg {
  display: inline-flex;
  column-gap: 10px;

  padding: 10px 20px;
  border-radius: 80px;
  background-color: #039be5;
  font-size: 16px;
  font-weight: 700;
  color: #fff;

  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: #19b2ff;
  }
}

.btn-whatsapp,
a.btn-whatsapp {
  display: inline-flex;
  column-gap: 10px;

  padding: 10px 20px;
  border-radius: 80px;
  background-color: #00ae6c;
  font-size: 16px;
  font-weight: 700;
  color: #fff;

  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: #00c97c;
  }
}
