.map {
  @include scrollTopMargin;
}

.map__title {
  margin-bottom: 20px;

  @include mobile {
    margin-bottom: 10px;
  }
}

.map__desc {
  margin-bottom: 20px;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  row-gap: 0.5em;

  @include mobile {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

.map__img,
.map__iframe {
  border-radius: 40px;

  @include mobile {
    border-radius: 20px;
  }
}
