.promo {
}

.promo__wrapper {
  padding: 30px;
  height: 600px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 40px;
  background-color: #000;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./../img/promo/promo-bg.jpg");

  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;
  text-align: center;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.7) 100%
      ),
      url("./../img/promo/promo-bg@2x.jpg");
  }
}

.promo__content {
  max-width: 678px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}

.promo__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
}

.promo__text {
  font-size: 18px;
  font-weight: 300;

  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.promo__btns {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
