.service {
  color: #2f2f2f;
  font-size: 14px;
  line-height: 1.5;
}

.service__icon {
  margin-bottom: 20px;

  @include mobile {
    margin-bottom: 10px;
  }
}

.service__title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  color: #000;

  @include tablet {
    margin-bottom: 10px;
    font-size: 18px;
  }
}
