.services {
}

.services__title {
  max-width: 570px;
  margin-bottom: 40px;
}

.services__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.services__list-item {
  max-width: 270px;
}
