@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,700,800);

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #000;
}

a {
  color: #00ae6c;
  text-decoration: underline;
}

a:focus,
button:focus {
  outline-offset: 1px;
  outline: #005fcc auto 1px;
}

.title-section {
  font-weight: 800;
  font-size: 42px;
  line-height: 1.2;
  color: #000;

  @include tablet {
    font-size: 32px;
  }

  @include mobile {
    font-size: 24px;
  }
}

.none {
  display: none !important;
}

.visible-desktop {
  @include tablet {
    display: none;
  }
}
